@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



body{
  background-color: rgb(91, 96, 96);
  display: flex;
  align-items: center;
  justify-content: center;
}

.joke-box{
  max-width: 700px !important;
  height: 250px;
  background-color: white;

}

.get-a-joke-btn{
  background-color: #61dafb !important;
  size: 90px !important;
  margin-left: 90px;
}

.get-a-joke-btn:hover{
  background-color: darkblue !important;
  color: yellow !important;
}

.joke{
  font-size: 32px;
}

.dad-joke-logo{
  height: 200px;
  align-items: center;
  margin-left: 90px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
